{{ $celebration := .Site.Data.celebration }}
<section id="celebration" class="py-5">
  <div class="container text-center">
    <h2 class="pt-5 h2">{{ $celebration.title }}</h2>
    <p class="text-muted pb-5">{{ $celebration.description }}</p>
        <div class="celebration">
            <div class="celebration-info">
                <h5 class="celebration-date">{{ $celebration.content.date }}</h5>
                <h5 class="celebration-hour">{{ $celebration.content.hour }}</h5>
                <h5 class="celebration-venue">{{ $celebration.content.venue }}</h5>
                <h5 class="celebration-address">{{ $celebration.content.address }}</h5>
                <h5 class="celebration-city">{{ $celebration.content.city }}</h5>
                {{ range $celebration.content.links }}
                    <a target="_blank" href="{{ .url }}">{{ .label }}</a>
                {{end}}
            </div>
            <iframe class="celebration-gmaps" src="https://www.google.com/maps/embed?pb=!4v1584202048278!6m8!1m7!1sCAoSLEFGMVFpcE9BS3RIVHZGMWlFSHBnN2VVTm5JcEs1T3FHOHZKdENPYUlJSkxZ!2m2!1d45.5553023!2d8.972715899999999!3f67.68245320832389!4f37.58210335492706!5f0.4000000000000002"></iframe>
        </div>
  </div>
</section>
