{{ $contact := .Site.Data.contact }}

<div style="background-image:url({{.Site.BaseURL}}images/covers/header_3000.png); background-repeat:repeat-x; background-size:contain; height:10vh; margin-top:15vh"></div>

<section id="contact" class="contact mt-5 p-3 p-lg-5 p-md-5">
	<div class="container">

		<center>
			<h2 class="h2 my-5">{{ $contact.title }}</h2>
			<p class="text-muted pb-5">{{ $contact.description }}</p>
		</center>

		<form action="https://formspree.io/{{ .Site.Data.config.email }}" method="POST">
			<div class="row justify-content-md-center">

				<div class="col-12 col-lg-4 col-md-4 rounded text-dark p-5" style="font-size: 18px">
					{{ if $contact.header }}
					<div class="mb-3">
						<div class="text-contact">
							{{ $contact.header }}
						</div>
					</div>
					{{ end }}
					{{ if $contact.address }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">
							{{ $contact.address.label }}
						</div>
						<div>{{ $contact.address.content }}</div>
					</div>
					{{ end }}
					{{ if $contact.email }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">
							{{ $contact.email.label }}
						</div>
						<div>{{ $contact.email.content }}</div>
					 </div>
					{{ end }}
					{{ if $contact.phone }}
					<div class="mb-3">
						<div class="text-uppercase text-muted">
							{{ $contact.phone.label }}
						</div>
						<div>{{ $contact.phone.content }}</div>
					</div>
					{{ end }}
				</div>
				<div class="col-12 col-lg-6 col-md-6">
						<div class="row">
							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<label>{{ $contact.form.name }}</label>
									<input type="text" name="Name" class="form-control" placeholder="Name">
								</div>
							</div>
							<div class="col-12 col-lg-6 col-md-6">
								<div class="form-group">
									<label>{{ $contact.form.email }}</label>
									<input type="email" name="Email" class="form-control" placeholder="Email">
								</div>
							</div>

							<div class="col-12">
								<div class="form-group">
									<label>{{ $contact.form.message }}</label>
									<textarea placeholder="Message" name="Message" rows="5" class="form-control"></textarea>
								</div>
							</div>

							<div class="col-12">
									<button type="submit" class="btn btn-outline-dark">{{ $contact.form.submit }}</button>
							</div>

						</div>
					</div>
			</div>
		</form>

	</div>
</section>
