<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
 			{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}
    </title>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Euphoria+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dekko" rel="stylesheet">
    <link href="{{ "favicon.png" | absURL }}" rel="icon" />

    <!-- og -->
    <meta name="og:title" content="{{ .Title }}"/>
	<meta name="og:url" content="{{ .Permalink }}"/>
	{{ if .Params.featuredimage }}
	<meta name="og:image" content="{{ .Params.featuredimage | absURL}}"/>
	{{ end }}
	{{ if .Params.description }}
	<meta name="og:description" content="{{ .Params.description }}"/>
	{{ end }}
	<meta name="og:site_name" content="{{ .Site.Title }}"/>
		

    <!-- including bootstrap -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}css/style.css">
  </head>
  <body>
    
