{{ $reception := .Site.Data.reception }}
<section id="reception" class="py-5">
  <div class="container text-center">
    <h2 class="pt-5 h2">{{ $reception.title }}</h2>
    <p class="text-muted pb-5">{{ $reception.description }}</p>
        <div class="reception">
            <div class="reception-image-container">
                <img class= "reception-image" src="{{.Site.BaseURL}}images/covers/{{$reception.image}}"></img>
            </div>
            <div class="reception-info">
                <h5 class="reception-date">{{ $reception.content.date }}</h5>
                <h5 class="reception-hour">{{ $reception.content.hour }}</h5>
                <h5 class="reception-venue">{{ $reception.content.venue }}</h5>
                <h5 class="reception-address">{{ $reception.content.address }}</h5>
                <h5 class="reception-city">{{ $reception.content.city }}</h5>
                {{ range $reception.content.links }}
                    <a target="_blank" href="{{ .url }}">{{ .label }}</a>
                {{end}}
            </div>
        </div>
  </div>
</section>
