{{ $weddinglist := .Site.Data.weddinglist }}
<section id="weddinglist" class="py-5">
  <div class="container">
    <h2 class="pt-5 h2  text-center">{{ $weddinglist.title }}</h2>
    <p class="text-muted pb-5  text-center">{{ $weddinglist.description | markdownify}}</p>
  </div>
</section>
