{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div style="background-image:url({{.Site.BaseURL}}images/covers/header_3000.png); background-repeat:repeat-x; background-size:contain; height:10vh; margin-top:15vh"></div>

<!-- Loading the components -->
{{ $globalData := . }}
{{ $blog := .Site.Data.blog }}
<section id="blog">
  <div class="container">
    <h1 class="pt-5 h2 text-center">{{ $blog.title }}</h1>
    <p class="text-muted pb-5 text-center">{{ $blog.description }}</p>
        {{ $posts := .Site.Data.blog.posts }}
        {{ range $posts }}
            <h6 class="text-left">{{ .date }}</h6>
            <h3 class="text-left">{{ .title }}</h3>
            <p class="text-left">{{ .content | markdownify}}</p>
            <br>
        {{ end }}
  </div>
</section>

{{ partial "contact.html" . }}
{{ partial "footer.html" . }}
{{ partial "footer-end.html" . }}
